.form {
  max-width: 1200px;
}

@media (min-width: 800px) {
  .nameControl {
    margin-right: 1rem;
    width: calc(100% - (1rem + 282px));
  }

  .urlControl {
    width: 282px;
  }
}

@media (max-width: 799px) {
  .nameControl {
    width: 100%;
  }

  .urlControl {
    width: 100%;
  }
}

.chip {
  margin: 0.5rem;
}

.submitButton {
  margin: 0.5rem;
}

.cancelButton {
  margin: 0.5rem;
}

.uploadButton {
  margin: 1rem;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 5px 0 grey;
}

.pictureContainer {
  text-align: center;
  margin-top: 1rem;
}

.formGroup {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
