.option {
  margin-bottom: 0.5rem;
}

.submit {
  margin: 1rem 0;
}

.voteId {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 0.5rem;
  color: #6c5ce7;
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  max-width: 500px;
}

.sticker {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}

.name {
  max-width: 350px;
}

.confirmationList {
  list-style: decimal;
}

.removedChip {
  margin: 0.5rem 0.5rem 0.5rem 0;
}


@keyframes slide-up {
  0% {
    transform: translate(0, -64px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-down {
  0% {
    transform: translate(0, -64px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.slidingUp {
  -webkit-animation-name: slide-up;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

.slidingDown {
  -webkit-animation-name: slide-down;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}