.form {
  max-width: 1200px;
}

.formControl {
  margin: 0.5rem;
  width: 300px;
}

.emailControl, .gradYearControl {
  margin: 0.5rem;
}

@media (min-width: 800px) {
  .emailControl {
    margin-right: 1rem;
    width: calc(100% - (2.5rem + 250px));
  }

  .gradYearControl {
    width: 250px;
  }
}

@media (max-width: 799px) {
  .emailControl {
    width: 100%;
  }

  .gradYearControl {
    width: 100%;
  }
}

.submitButton {
  margin: 0.5rem;
}

.cancelButton {
  margin: 0.5rem;
}

.formGroup {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
