.grid {
  margin: 1rem 0;
}

.itemContainer {
  margin: 0.5rem;
}

.notFoundContainer {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.notFoundImage {
  opacity: 0.8;
  max-width: 300px;
}

.container {
  margin-top: 20px;
}
