@media (min-width: 470px) {
  .formControl {
    margin: 1.25%;
    width: 45%;
  }

  .gradYearContainer {
    margin-left: 0.5rem;
  }
}

@media (max-width: 700px) {
  .gradYearInput {
    max-width: calc(100% - 80px);
  }
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.formControl {
  margin-bottom: 15px;
}

.gradYearButton {
  margin: 0.5rem;
  height: 54px;
}

.chip {
  margin: 0.5rem;
}

.submitButton {
  margin: 0.5rem;
}

.cancelButton {
  margin: 0.5rem;
}
