.form {
  max-width: 1200px;
}

.formControl {
  margin: 0.5rem;
  width: 300px;
}

.gradYearContainer {
  margin: 0.5rem;
}

.gradYearButton {
  margin: 0.5rem;
  height: 54px;
}

.chip {
  margin: 0.5rem;
}

.submitButton {
  margin: 0.5rem;
}

.cancelButton {
  margin: 0.5rem;
}
