.form {
  max-width: 1200px;
}

.formControl {
  margin: 0.5rem;
  width: 300px;
}

.electionChangeButton {
  margin: 1rem;
}

.deleteElectionButton {
  border: 1px solid red;
  color: red;
  margin: 1rem;
}
